@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-gypsy-jewels: #643a5b;
  --color-frosting-cream: #fffbee;
  --color-jurassic-park: #3a6443;
  --color-eerie-black: #1a1a1a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-serif;
}
